<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSHumanReadableCopyright</key>
    <string>©vdl 20225</string>
    <key>CFBundleVersion</key>
    <string>21</string>
    <key>CFBundleDisplayName</key>
    <string>UI with classes</string>
    <key>CFBundleShortVersionString</key>
    <string>21</string>
    <key>CFBundleGetInfoString</key>
    <string>21</string>
    <key>CFBundleLongVersionString</key>
    <string>21</string>
    <key>CFBundleName</key>
    <string>UI with Classes</string>
  </dict>
</plist>
