.windowFrameBackground {
	fill: #E6E6E6;
	stroke: transparent;
	sizingX: "grow";
}
	@media (prefers-color-scheme: dark) {
		.windowFrameBackground {
			fill: rgb(46, 47, 51);
		}
	}
	
.winListHeaderBackground,
.winListHeaderSeparator {
	visibility: "hidden";
}

.ListBackground {
	fill: rgb(224, 224, 224);
	stroke: transparent;
	sizingY: "grow";

}	
	@media (prefers-color-scheme: dark) {
		.ListBackground {
			fill: rgb(0, 0, 0);

		}
	}
 