name: Build

on:
  push:
    paths:
      - '**.4dm'
  pull_request:
    paths:
      - '**.4dm'
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout    
      uses: actions/checkout@v4    
    - name: Build
      uses: 4d/build4d-action@main
      with:
        project: 'UI with Classes/Project/UI with Classes.4DProject'
        product-line: vcs
        version: vcs
        build: official
        token: ${{ secrets.DLTK }}
